body {
  background-color: azure;
  font-family: Oswald;
}

.box {
  height:auto;
  width:100vw;
  border:2px solid black;
}

.box2 {
  height: 660px;
  width:100vw;
  border:2px solid black;
}

.box3 {
  height: 185px;
  width:100vw;
  border:2px solid black;
}

  @media screen and (max-width: 640px) {
    .box, .box2, .box3 {
        border:2px solid azure;
    }

    footer {
      bottom: 0;
      position: relative;
      margin-top: 28vh;
      padding-top: 28vh;
    }
    .lspace {
      margin-left: 8vw;
      margin-right: 5vw;
      padding-top: 8vw;
    }
    .nav-title {
      font-size: 14px;
    }

    .no-overlap {
      margin-top: 10%;
    }

  }

.box-title {
  width:10vw;
  margin-top:-19px;
  margin-left:15px;
  padding-left: .5vw;
  background-color: azure;
}

.box-title2 {
  width: 7vw;
  margin-top:-19px;
  margin-left:15px;
  padding-left: .5vw;
  background-color: azure;
}

.box-title3 {
  width: 12vw;
  margin-top:-19px;
  margin-left:15px;
  padding-left: .5vw;
  background-color: azure;
}

.box-title4 {
  width: 13vw;
  margin-top:-19px;
  margin-left:15px;
  padding-left: .5vw;
  background-color: azure;
}

.btn {
  width: 12vw;
  height: 50px;
  font-size: 14px;
  margin-bottom: 5px;
}

@media screen and (max-width: 1140px) {
	.btn {
		font-size: 10px;
	}
}


.btn-set {
    margin-top: 2vh;
    margin-left: 1vw;
}

.caption {
  font-size: 18px;
  padding: 1px;
}

.center-text {
  text-align: center;
}

.change-font {
  font-family: 'Roboto', sans-serif;
}

.change-font2 {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color:midnightblue;
}


.cover {
  width: 150px;
  height: 225px;
}

.cover1 {
  width: 22vw;
  height: 25vw;
}

.cover2 {
  width: 22vw;
  height: 30vw;
}

.extend-content {
  width: 200%;
  margin-left: -50%;
  margin-right: -50%;
}

footer {
  margin-top: 5vh;
  bottom: 0;
  width: 100%;
  height: 6vh;
  list-style: none;
}

hr.vertical-line {
        width: 50%;
        margin: auto;
        margin-top: 25%;
        margin-bottom: 50vh;
        transform: rotate(90deg);
        border-color: purple;
}

.instructions {
  color:black;
  text-align: center;
  font-size: 18px;
}

.logo {
  border-radius: 0;
}

.lspace {
  padding-left: 1vw;
}

main {
  font-family: Alegreya;
}

.media-object {
  width: 75px;
  height: 100px;
}

.minus-margin {
  margin-left: -6vw;
}


.panel > .panel-info {
    background-image: none;
    background-color: #20315A; 
    color: white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;  
}

.panel-body {
  padding: 15px;
  margin-bottom: 10px;
}

.spacing {
  padding-left: 5vw;
  padding-right: 5vw;
}

.spacing-nav {
  padding-left: 30vw;
}

.signature {
  font-family: 'Pinyon Script', cursive;
}

.single-service h5::before {
    background-color: black;
    bottom: 0;
    /* content: ""; */
    height: 2px;
    left: 0;
    position: absolute;
    width: 46px;
}

.square {
  width: 150px;
  height: 150px;
}


.square1 {
  padding-top: 25px;
  width: 150px;
  height: 200px;
}

.text {
  font-family: Oswald;
  font-size: 18px;
  color: white;
}

.text-height {
  font-size: 12px;
}

.text-height2 {
  font-size: 16px;
}


timeline {
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana;
}

timeline:after,
timeline:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}
/* code \00a0 is nonbreaking space */


.title {
  font-family: Creepster;
  font-size: 22px;
}

@media screen and (max-width: 760px) {
	.title {
		font-size: 14px;
	}
}

.titles {
  text-align: center;
}

.top {
    display: inline-block;
    border: 1px solid #000;
    background-color: skyblue;
    width: 100%;
    height: 51px;
    padding-bottom: 5vh;
    padding-left: 2vw;
}   

@media screen and (max-width: 640px) {
    .top {
        font-size: 12px;
        height: 100px;
        padding-bottom: 0;
        padding-left: 1vw;
    }
}



ul {
  list-style-type: none;
}


vbottom {
  padding-bottom: 5vh;
}

vmbottom {
  margin-bottom: 3vh;
}


.vspacing {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 16px;
  margin-top: 21px;
  padding-bottom: 14px;
  position: relative;
}

.vtop {
  margin-top: 7vh;
}

.vtop2 {
  margin-top: 3vh;
}

.vtop3 {
  margin-top: 5vh;
}

.wide-font{
  font-family: 'Passion One', sans-serif;
  letter-spacing: .05em;
}