body {
  background-color: azure;
  font-family: Oswald;
}

.box {
  height:190vh;
  width:100vw;
  border:2px solid black;
}

.box2 {
  height: 50vh;
  width:100vw;
  border:2px solid black;
}

.box3 {
  height: 100vh;
  width:100vw;
  border:2px solid black;
}

  @media screen and (max-width: 640px) {
    .box {
        border:2px solid azure;
    }
    .box2 {
        border:2px solid azure;
        margin-top: 290vh;
    }
    .box3 {
        border:2px solid azure;
        margin-top: 290vh;
    }

    footer {
      padding-bottom: 28vh;
      bottom: 0;
      position: fixed;
    }
    .lspace {
      margin-left: 8vw;
      margin-right: 5vw;
      padding-top: 8vw;
    }
    .nav-title {
      font-size: 14px;
    }
  }

.box-title {
  width:10vw;
  margin-top:-19px;
  margin-left:15px;
  padding-left: .5vw;
  background-color: azure;
}

.box-title2 {
  width: 7vw;
  margin-top:-19px;
  margin-left:15px;
  padding-left: .5vw;
  background-color: azure;
}

.box-title3 {
  width: 12vw;
  margin-top:-19px;
  margin-left:15px;
  padding-left: .5vw;
  background-color: azure;
}

.center-text {
  text-align: center;
}

.change-font {
  font-family: 'Roboto', sans-serif;
}

.change-font2 {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color:midnightblue;
}

footer {
  margin-top: 5vh;
  bottom: 0;
  width: 100%;
  height: 6vh;
}

.lspace {
  padding-left: 1vw;
}

.spacing {
  padding-left: 5vw;
  padding-right: 5vw;
}

.signature {
  font-family: 'Pinyon Script', cursive;
}

.single-service h5::before {
    background-color: black;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 46px;
}

ul {
  list-style-type: none;
}

.vspacing {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 16px;
  margin-top: 21px;
  padding-bottom: 14px;
  position: relative;
}

.vtop {
  margin-top: 7vh;
}

.vtop2 {
  margin-top: 3vh;
}

.wide-font{
  font-family: 'Passion One', sans-serif;
  letter-spacing: .05em;
}