body {
  background-color: azure;
  font-family: Oswald;
}


.change-font {
  font-family: 'Roboto', sans-serif;
}

.signature {
  font-family: 'Pinyon Script', cursive;
}

.vtop {
  margin-top: 7vh;
}

.wide-font{
  font-family: 'Passion One', sans-serif;
  letter-spacing: .05em;
}